body {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
a {
  text-decoration: none;
}
.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2c37;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}
.header {
  font-family: "Cuprum", Arial, sans-serif;
}
.footer {
  font-family: "Cuprum", Arial, sans-serif;
}
.header-top {
  font-size: 17px;

  background-color: #293449;
}
.header-search-input {
  position: relative;

  font: inherit;

  background-color: #293449;
  border: none;
}
.header-search-input:hover {
  background-color: #212a3a;
}
.header-link:hover {
  background-color: #212a3a;
}
.header-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.header-search-input:focus {
  background-color: #ffffff;
}
.header-search-button {
  font-family: inherit;
  width: 17px;
  height: 17px;

  background-color: transparent;
  border: none;
}
.header-link {
  color: #ffffff;
}
.header-link:active {
  color: #999ca1;

  background-color: #161d29;
}
.header-ordering {
  background-color: rgba(95, 187, 45, 1);
}
.header-ordering:hover {
  background-color: rgba(95, 187, 45, 0.9);
}
.header-ordering:active {
  background-color: rgba(95, 187, 45, 0.8);
}
.header-logo {
  background-color: rgba(238, 54, 67, 1);
  box-shadow: 0 5px 0 0 rgba(238, 54, 67, 0.8);
}
.header-logo:hover {
  background-color: rgba(238, 54, 67, 0.9);
}
.header-logo:active {
  background-color: rgba(238, 54, 67, 0.8);
}
.header-bottom {
  background-color: #f4f7f9;
}
.header-title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}
.header-data {
  color: #32425c;
}
.header-tel-link {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-user-nav {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.header-user-link {
  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}
.header-user-nav-link:hover {
  color: rgba(238, 54, 67, 1);
}
.header-user-link:active {
  color: rgba(0, 0, 0, 0.5);
}
.header-user-nav-link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}
.header-user-nav-link:active {
  color: rgba(50, 66, 92, 0.3);
}
.header-nav {
  background-color: #32425c;
}
.header-nav-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.header-nav-link {
  font-size: 17px;
  color: #ffffff;
}
.header-nav-link:hover {
  background-color: #293449;
}
.header-nav-link:active {
  color: #777d88;

  background-color: #1d2739;
}
.about-text {
  font-size: 13px;
}
.about-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.features-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
}
.features-list-item {
  margin-left: 36px;
}
.features-redline {
  content: "";
  position: relative;
  top: 10px;
  left: -34px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}
.footer-top {
  font-size: 18px;
  color: #ffffff;

  background-color: #32425c;
}
.footer-top-left-link {
  color: #ffffff;
}
.footer-logo {
  background-color: rgba(238, 54, 67, 1);
  box-shadow: 0 5px 0 0 rgba(238, 54, 67, 0.7);
}
.footer-logo:hover {
  background-color: rgba(238, 54, 67, 0.9);
}
.footer-logo:active {
  background-color: rgba(238, 54, 67, 0.8);
}
.footer-top-right-top-list,
.footer-top-right-bottom-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.footer-top-right-top-link {
  color: #ffffff;
}
.footer-top-right-bottom-link {
  color: #ffd180;
}
.footer-top-right-top-link:hover,
.footer-top-right-bottom-link:hover {
  text-decoration: underline;
}
.footer-top-right-top-link:active {
  color: #929caa;
  text-decoration: none;
}
.footer-top-right-bottom-link:active {
  color: #998a6e;
  text-decoration: none;
}
.footer-bottom {
  font-size: 16px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom-copytight {
  font-size: 16px;
  line-height: 18px;
}
.footer-bottom-socials {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.social {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}
.social-button-vk {
  background-image: url(../img/icons/socials/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-fb {
  background-image: url(../img/icons/socials/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-inst {
  background-image: url(../img/icons/socials/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social:hover {
  background-color: #ee3643;
}
.social:active {
  background: #ee3643;
}
.footer-bottom-communication-feedback {
  font-size: 16px;
  line-height: 18px;
}
.footer-bottom-communication-link {
  color: #ffd180;
}
.footer-bottom-communication-link:hover {
  text-decoration: underline;
}
.footer-bottom-communication-link:active {
  color: #ee3643;
  text-decoration: none;
}
.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
  line-height: 18px;
}
.breadcrumbs-list-item:first-of-type::before {
  content: url(../img/icons/icon-home.svg);
}
.breadcrumbs-link {
  font-size: 13px;
  color: #000000;
}
.catalog-title-block {
  background-color: #f2f6f8;
}
.catalog-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.filter,
.catalog {
  font-family: "PT Sans", Arial, sans-serif;
}
.filter-title {
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}
.filter-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.filter-fieldset:last-of-type {
  border: none;
}
.filter-brands-list,
.filter-source-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.filter-legend {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.filter-radio-label,
.filter-checkbox-label {
  font-size: 15px;
  text-transform: uppercase;
}
.filter-input {
  display: none;
}
.filter-input + .filter-checkbox-label::before {
  content: url(../img/icons/styles/checkbox-off.svg);

  margin-right: 8px;
}
.filter-input:checked + .filter-checkbox-label::before {
  content: url(../img/icons/styles/checkbox-on.svg);
}
.filter-input + .filter-radio-label::before {
  content: url(../img/icons/styles/radio-off.svg);

  margin-right: 8px;
}
.filter-input:checked + .filter-radio-label::before {
  content: url(../img/icons/styles/radio-on.svg);
}
.filter-button {
  font-size: 13px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}
.sorting-block {
  background-color: #f7f3ec;
}
.sorting-block-title {
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}
.sorting-block-list {
  list-style: none;
}
.sorting-button {
  font-size: 13px;
  color: #b2b2b2;
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}
.sorting-button:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}
.sorting-button:active {
  color: #ee3643;

  border: none;
}
.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting-to-top,
.sorting-to-bottom,
.sorting-to-top:hover,
.sorting-to-bottom:hover {
  border: none;
}
.item {
  border: 1px solid #e5e5e5;
}
.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.item-old-price {
  font-size: 17px;
  color: #999999;
  text-decoration: line-through;
}
.item-price {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
}
.item-price::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  border: 20px solid transparent;
  border-right-width: 0;
  border-left: 25px solid #ee3643;
}
.page {
  font-size: 13px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}
.page:hover {
  border-color: #bdc6ca;
}
.page:active {
  border-color: #ee3643;
}
.current {
  background-color: #ee3643;
}
.about-title {
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}
.about-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
}
