body {
  min-width: 940px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2c37;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}
.center {
  width: 940px;
  margin: 0 auto;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  justify-items: stretch;
}
.header {
  display: flex;
  flex-direction: column;

  font-family: "Cuprum", Helvetica, sans-serif;
}
.title {
  font-family: "Cuprum", Helvetica, sans-serif;
}
.footer {
  font-family: "Cuprum", Helvetica, sans-serif;
}
.header-top {
  width: 100%;

  font-size: 17px;

  background-color: #293449;
}
.search-form {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.header-search-button {
  order: -1;
  width: 17px;
  height: 17px;
  margin-right: 15px;
  margin-left: 17px;

  font-family: inherit;

  background-color: transparent;
  border: none;
}
.header-search-input {
  width: 100%;
  height: 42px;

  font: inherit;

  background-color: #293449;
  border: none;
}
.header-search-input:hover {
  background-color: #212a3a;
}
.header-search-input:focus {
  background-color: #ffffff;
}
.header-link {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  min-width: 150px;

  color: #ffffff;
}
.header-icon {
  margin-right: 13px;
}
.header-link:hover {
  background-color: #212a3a;
}
.header-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.header-ordering {
  background-color: rgba(95, 187, 45, 1);
}
.header-ordering:hover {
  background-color: rgba(95, 187, 45, 0.9);
}
.header-ordering:active {
  background-color: rgba(95, 187, 45, 0.8);
}
.header-logo {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;

  background-color: rgba(238, 54, 67, 1);
  box-shadow: 0 5px 0 0 #b52933;
}
.header-logo:hover {
  background-color: rgba(238, 54, 67, 0.9);
}
.header-logo:active {
  background-color: rgba(238, 54, 67, 0.8);
}
.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header-bottom {
  padding-bottom: 60px;

  background-color: #f4f7f9;
}
/* Как подобрать размер вот этого блока */
.header-title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 44px;
  padding-left: 53px;
}

.header-title {
  width: 200px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}
.header-data {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 44px;
  padding-left: 71px;

  color: #32425c;
}
.header-tel-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 152px;
  min-height: 39px;
  padding-right: 52px;
  padding-left: 60px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}
.header-tel-icon {
  position: absolute;
  left: 15px;
}
/* Я правильно паддинги использую? */
.header-user-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 44px;
  padding-left: 82px;
}
.header-user-nav {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.header-user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
}
.login-button {
  position: relative;

  margin-right: 10px;
  padding-left: 48px;
}
.header-user-icon {
  position: absolute;
  left: 14px;
}
.header-user-link {
  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}
.header-user-link:hover {
  color: rgba(238, 54, 67, 1);
}
.header-user-link:active {
  color: rgba(0, 0, 0, 0.5);
}
.header-user-nav-link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}
.header-user-nav-link:active {
  color: rgba(50, 66, 92, 0.3);
}
.header-nav {
  width: 100%;

  background-color: #32425c;
}
.header-nav-list {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 0;
  padding-left: 0;

  list-style: none;

  box-shadow: inset 0 -5px 0 0 #293449;
}
.header-nav-list-item {
  display: flex;
  flex: 1 1 auto;
  justify-content: stretch;
  align-items: center;
  height: 60px;
}
.header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 17px;
  color: #ffffff;
}
.header-nav-link:hover {
  background-color: #4d525a;
}
.header-nav-link:active {
  color: #777d88;

  background-color: #1d2739;
}
.main {
  padding-top: 59px;
}
.about-text {
  font-size: 13px;
}
.about-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Helvetica, sans-serif;
  text-transform: uppercase;
}
.features-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Helvetica, sans-serif;
}
.features-list-item {
  margin-left: 36px;
}
.features-redline {
  content: "";
  position: relative;
  top: 10px;
  left: -34px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}
.footer-top {
  font-size: 18px;
  color: #ffffff;

  background-color: #32425c;
}
.footer-top-left-link {
  color: #ffffff;
}
.footer-logo {
  background-color: rgba(238, 54, 67, 1);
  box-shadow: 0 5px 0 0 rgba(238, 54, 67, 0.7);
}
.footer-logo:hover {
  background-color: rgba(238, 54, 67, 0.9);
}
.footer-logo:active {
  background-color: rgba(238, 54, 67, 0.8);
}
.footer-top-right-top-list,
.footer-top-right-bottom-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.footer-top-right-top-link {
  color: #ffffff;
}
.footer-top-right-bottom-link {
  color: #ffd180;
}
.footer-top-right-top-link:hover,
.footer-top-right-bottom-link:hover {
  text-decoration: underline;
}
.footer-top-right-top-link:active {
  color: #929caa;
  text-decoration: none;
}
.footer-top-right-bottom-link:active {
  color: #998a6e;
  text-decoration: none;
}
.footer-bottom {
  font-size: 16px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom-copytight {
  font-size: 16px;
  line-height: 18px;
}
.footer-bottom-socials {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.social {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}
.social-button-vk {
  background-image: url(../img/icons/socials/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-fb {
  background-image: url(../img/icons/socials/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-button-inst {
  background-image: url(../img/icons/socials/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social:hover {
  background-color: #ee3643;
}
.social:active {
  background: #ee3643;
}
.footer-bottom-communication-feedback {
  font-size: 16px;
  line-height: 18px;
}
.footer-bottom-communication-link {
  color: #ffd180;
}
.footer-bottom-communication-link:hover {
  text-decoration: underline;
}
.footer-bottom-communication-link:active {
  color: #ee3643;
  text-decoration: none;
}
.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
  line-height: 18px;
}
.breadcrumbs-list-item:first-of-type::before {
  content: url(../img/icons/icon-home.svg);
}
.breadcrumbs-link {
  font-size: 13px;
  color: #000000;
}
.title-block {
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;

  background-color: #f2f6f8;
}
.catalog-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Helvetica, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}
.filter,
.catalog {
  font-family: "PT Sans", Arial, sans-serif;
}
.filter-title {
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}
.filter-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.filter-fieldset:last-of-type {
  border: none;
}
.filter-brands-list,
.filter-source-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}
.filter-legend {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.filter-radio-label,
.filter-checkbox-label {
  font-size: 15px;
  text-transform: uppercase;
}
.filter-input {
  display: none;
}
.filter-input + .filter-checkbox-label::before {
  content: url(../img/icons/styles/checkbox-off.svg);

  margin-right: 8px;
}
.filter-input:checked + .filter-checkbox-label::before {
  content: url(../img/icons/styles/checkbox-on.svg);
}
.filter-input + .filter-radio-label::before {
  content: url(../img/icons/styles/radio-off.svg);

  margin-right: 8px;
}
.filter-input:checked + .filter-radio-label::before {
  content: url(../img/icons/styles/radio-on.svg);
}
.filter-button {
  font-size: 13px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}
.sorting-block {
  background-color: #f7f3ec;
}
.sorting-block-title {
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}
.sorting-block-list {
  list-style: none;
}
.sorting-button {
  font-size: 13px;
  color: #b2b2b2;
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}
.sorting-button:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}
.sorting-button:active {
  color: #ee3643;

  border: none;
}
.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}
.sorting-to-top,
.sorting-to-bottom,
.sorting-to-top:hover,
.sorting-to-bottom:hover {
  border: none;
}
.item {
  border: 1px solid #e5e5e5;
}
.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.item-old-price {
  font-size: 17px;
  color: #999999;
  text-decoration: line-through;
}
.item-price {
  position: relative;

  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
}
.item-price::after {
  content: "";
  position: absolute;

  width: 0;
  height: 0;

  border: 20px solid transparent;
  border-right-width: 0;
  border-left: 25px solid #ee3643;
}
.page {
  font-size: 13px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}
.page:hover {
  border-color: #bdc6ca;
}
.page:active {
  border-color: #ee3643;
}
.current {
  background-color: #ee3643;
}
.about-title {
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}
.about-text {
  font-size: 13px;
}
.categories {
  color: #ffffff;
}
.category-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.category-materials {
  background-color: #ffbf47;
  background-image: url(../img/icons/categories/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.category-instruments {
  background-color: #3bbce3;
  background-image: url(../img/icons/categories/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.category-technic {
  background-color: #dc91d8;
  background-image: url(../img/icons/categories/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.category-discounts {
  background-color: #8ed78f;
  background-image: url(../img/icons/categories/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.category-delivery {
  background-color: #ffc047;
  background-image: url(../img/icons/categories/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.category-button {
  font-size: 14px;
  font-family: "Cuprum", Helvetica, Helvetica, sans-serif;

  background-color: rgba(0, 0, 0, 0.1);
}
.slide {
  width: 620px;
  height: 288px;

  background-repeat: no-repeat;
}
.slides {
  font-family: "Cuprum", Helvetica, Helvetica, sans-serif;
}
.slide-text-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.slide-text {
  font-size: 18px;
}
.slider-control {
  list-style: none;
}
.slider-radio-button {
  width: 10px;
  height: 10px;

  background-color: transparent;
  border-radius: 50%;
}
/* и цвет не меняют если нажать,кст его наверное можно тоже под toggle сделать */
.slider-button-selected {
  background-color: #ee3643;
}
/* В общем,нашёл кучу материала как оформить красиво,но мне кажется по тз это не требуется,поэтому пришла идея в js c помощью .toggle менять класса .visually-hidden у слайдера,а со стрелочками делать проверку например,остаются вопросы только про button-ы */
.slide-1 {
  background-image: url(../img/decor/Layer99.jpg);
}
.slide-2 {
  background-image: url(../img/decor/Layer991.jpg);
}
.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: middle;

  background-color: transparent;
  border: none;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
}
.slider-arrow-right {
  transform: rotate(45deg);
}
.slider-arrow-left {
  transform: rotate(-135deg);
}
.brands-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.brands-list-link {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.brands-list-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands-list-link:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}
.service {
  display: none;
}
.slide {
  display: none;
}
.selected {
  display: block;
}
.services {
  background-color: #f4f7f9;
}
.services-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  background-color: #32425c;
  border: none;
}
/* как сделать тень? */
.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.services-button {
  width: 240px;
  height: 60px;
}
.services-button:hover {
  background-color: #293449;
}
.services-button-selected {
  color: #000000;

  background-color: #ffffff;
}
.services-block-right-title {
  font-size: 36px;
  line-height: 36px;
}
.services-block-right-delivery {
  background-image: url(../img/decor/Layer131.png);
  background-repeat: no-repeat;
}
.services-block-right-cgurantee {
  background-image: url(../img/decor/Layer130.png);
  background-repeat: no-repeat;
}
.services-block-right-credit {
  background-image: url(../img/decor/Layer119.png);
  background-repeat: no-repeat;
}
